-e git+https://github.com/Unity-Technologies/ml-agents.git@a7c1fccd9a86045dece3206604fa93064aac58ea#egg=gym_unity&subdirectory=gym-unity
-e git+https://github.com/Unity-Technologies/ml-agents.git@a7c1fccd9a86045dece3206604fa93064aac58ea#egg=mlagents&subdirectory=ml-agents
ray==0.7.4
pandas
PyInquirer
opencv-python
opencv-python-headless
imageio
lz4
seaborn
psutil
requests
setproctitle
atari-py
tensorboard
tensorflow-gpu
