-e git+https://github.com/Unity-Technologies/ml-agents.git@9b1a39982fd03de8f40f85d61f903e6d972fd2cc#egg=gym_unity&subdirectory=gym-unity
matplotlib==3.1.1
-e git+https://github.com/Unity-Technologies/ml-agents.git@9b1a39982fd03de8f40f85d61f903e6d972fd2cc#egg=mlagents&subdirectory=ml-agents
mlagents-envs==0.8.2
gym
numpy
opencv-python
opencv-python-headless
pandas
PyInquirer
ray
scikit-learn
scipy
seaborn
sklearn
tensorboard
tensorflow-gpu
torch
torchvision
psutil
imageio
lz4
